<blockquote>
  <p>Bitcoin Fast is a fully decentralized Internet-of-value protocol for global payments. </p>
  <footer><a href="https://bitcfast.com/" target="_blank">https://bitcfast.com</a></footer>
</blockquote>