<blockquote>
  <p>Bitcoinjocker is a decentralized exchange platform for all cryptocurrencies that developed based on researches.</p>
  <footer><a href="http://bitcoinjocker.com" target="_blank">http://bitcoinjocker.com</a></footer>
</blockquote>