<blockquote>
  <p>BTCLSK is The Wall Street on Blockchain. The BTCLSK platform serves the global cryptocurrency community. </p>
  <footer><a href="http://bitcoinlsk.com" target="_blank">http://bitcoinlsk.com</a></footer>
</blockquote>