<blockquote>
  <p>Bitfxt offers the easiest way to buy, store, exchange and trade cryptocurrencies.</p>
  <footer><a href="https://bitfxt.com" target="_blank">https://bitfxt.com</a></footer>
</blockquote>