<blockquote>
  <p>Etherdecoin offers payment gateway service based on blockchain technology. </p>
  <footer><a href="https://www.etherdecoin.com" target="_blank">https://www.etherdecoin.com</a></footer>
</blockquote>