<blockquote>
  <p>Fetch AI is a decentralised digital world in which useful economic activity takes place.  </p>
  <footer><a href="https://fetch.ai/" target="_blank">https://fetch.ai</a></footer>
</blockquote>