<blockquote>
  <p>FRAS is an Online Taxi Supplier which aim as a Self-sustainable Blockchain & Start-Up Incubator, it have routine income. </p>
  <footer><a href="https://www.frasindo.com/" target="_blank">https://www.frasindo.com/</a></footer>
</blockquote>