<blockquote>
  <p>GZM coin is specially designed for advertising companies, various media, various greetings registered on the basis of blockchain. </p>
  <footer><a href="http://armacoin.info" target="_blank">http://armacoin.info</a></footer>
</blockquote>