<blockquote>
  <p>KuCoin is a world-class blockchain asset exchange which has its own token called KuCoin Shares. </p>
  <footer><a href="https://www.kucoin.com/" target="_blank">https://www.kucoin.com/</a></footer>
</blockquote>