<blockquote>
  <p>Masternode Invest is a company allowing people to invest on cryptocurrency masternode. </p>
  <footer><a href="https://masternodeinvest.io" target="_blank">https://masternodeinvest.io</a></footer>
</blockquote>
