<blockquote>
  <p>Pundi X mission is to make buying cryptocurrency as easy as buying bottled water. </p>
  <footer><a href="https://pundix.com/" target="_blank">https://pundix.com/</a></footer>
</blockquote>