<blockquote>
  <p>ROSCAcoin is cryptocurrency which supported by a self-regulating, autonomous, decentralized, blockchain powered Rotating and Saving Credit Associations ecosystem platform.</p>
  <footer><a href="https://roscacoin.io" target="_blank">https://roscacoin.io</a></footer>
</blockquote>