<blockquote>
  <p>Regium is an open source, peer-to- peer, community driven decentralized cryptocurrency. </p>
  <footer><a href="https://regium.xyz" target="_blank">https://regium.xyz</a></footer>
</blockquote>