<blockquote>
  <p>The goal of Shizzle Nizzle is to create a community between buyers and sellers that creates fun and creative profitability. </p>
  <footer><a href="http://www.shizzlenizzle.com/" target="_blank">http://www.shizzlenizzle.com/</a></footer>
</blockquote>