<blockquote>
  <p>TENX Token is a ERC-20 rewards token on Ethereum with features of ERC-1400.  </p>
  <footer><a href="https://tenx.tech/" target="_blank">https://tenx.tech</a></footer>
</blockquote>