<blockquote>
  <p>TPC Coin is a platform for the future of funding that is built on top of the Ethereum blockchain. It accelerates growth of start-up companies by offering tools and services that save both time and resources.</p>
  <footer><a href="https://topscoin.net" target="_blank">https://topscoin.net</a></footer>
</blockquote>