<blockquote>
  <p>UNITBITCOIN - IS THE FUTURE DECENTRALIZED PLATFORM BASED ON THE BLOCKCHAIN FOR AID TO ALL NEEDY PEOPLE IN DIFFERENT SPHERES OF LIFE.</p>
  <footer><a href="http://unitbitcoin.com" target="_blank">http://unitbitcoin.com</a></footer>
</blockquote>