<blockquote>
  <p>XENetwork is an innovative content ecosystem based on blockchain technology.</p>
  <footer><a href="http://xenetwork.online" target="_blank">http://xenetwork.online</a></footer>
</blockquote>