<blockquote>
  <p>Fructus is a project aiming to change the business of fresh produce trade and delivery.  </p>
  <footer><a href="https://www.fructus.io/" target="_blank">fructus.io</a></footer>
</blockquote>